{% extends 'base.html' %}
{% load static %}

{% block navlink %}
<li class="nav-item active">
  <a class="nav-link" href="index.html">Home
  <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="register.html">Register Now</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="contact.html">FAQ</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="about.html">About Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="contact.html">Contact Us</a>
</li>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
      <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
          <div class="img-fill">
              <div class="text-content">
                <h6>Organise Events without worrying about handing out invitations</h6>
                <h4>Ishaifu</h4>
                <p>Prosper through Innovations</p>
                <a href="register.html" class="filled-button">Register Event Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->



    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Browse Event</h2>
              <span>Choose your right event and we will handle your invitaion</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_01.jpg' %} alt="">
              <div class="down-content">
                <h4>Sosti Puja</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_02.jpg' %} alt="">
              <div class="down-content">
                <h4>Na Hutpa/Churakaran</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_03.jpg' %} alt="">
              <div class="down-content">
                <h4>Birthday Party</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_04.jpg' %} alt="">
              <div class="down-content">
                <h4>Luhongba/Wedding</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_05.jpg' %} alt="">
              <div class="down-content">
                <h4>Aasti</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_06.jpg' %} alt="">
              <div class="down-content">
                <h4>Sharradha</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_07.jpg' %} alt="">
              <div class="down-content">
                <h4>Firoi/Death Aniversary</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_08.jpg' %} alt="">
              <div class="down-content">
                <h4>Vacations</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src={% static 'website/assets/images/service_09.jpg' %} alt="">
              <div class="down-content">
                <h4>Trips/Tours</h4>
                <p>Sed tincidunt dictum lobortis. Aenean tempus diam vel augue luctus dignissim. Nunc ornare leo tortor.</p>
                <a href="" class="filled-button">Register</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}

{% block footer %}
<!-- Footer Starts Here -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-item">
        <h4>Ishaifu Pvt Ltd</h4>
        <p>Atingkok Office<br>Kakching Ningthou Leikai<br>Opp. Allahabad Bank</p>
        <ul class="social-icons">
          <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-item">

      </div>
      <div class="col-md-3 footer-item">
        <h4>Additional Pages</h4>
        <ul class="menu-list">
          <li><a href="#">About Us</a></li>
          <li><a href="#">How We Work</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-3 footer-item last-item">
        <h4>Leave a feedback</h4>
        <div class="contact-form">
          <form id="contact footer-contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="filled-button">Send Feedback</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
